# Environment variables
.env
# Google OAuth files
src/token.json
src/credentials.json


# Generated knowledge base files
faiss_index_store/
*.pkl
image_store/
downloads/

# Python cache
__pycache__/
*.pyc

# IDE files
.idea/
.vscode/